* {
    margin: 0;
}

body {
    background: #fff;
    font-family: 'Lato', sans-serif;
    overflow: hidden;
}

.h1 h1 {
    text-align: center;
    //color: #182737;
    font-weight: 400;
    font-size: 85px;
    margin-top: 170px;
}

.h1 h1::before {
    content: "TAB";
    position: absolute;
    top: 212.5px;
    left: calc(50% - 527px);
    font-size: 40.8px;
    font-weight: 900;
    border-top-right-radius: 17px;
    border-top-left-radius: 17px;
    padding: 6.8px 34px;
    background: #f4f4f4;
    color: #2d2d2d;
}

.h1::after {
    content: "";
    position: absolute;
    left: calc(50% - 595px);
    width: 1190px;
    height: 6.8px;
    border-radius: 6.8px;
    background: #f4f4f4;
}

.jz {
    position: absolute;
    top: 272px;
    left: calc(50% - 595px);
    max-width: 1190px;
    width: 0;
    height: 6.8px;
    border-radius: 6.8px;
    background: #0ba6fb;
    transition: width 400ms;
}

.btn {
    display: flex;
    position: absolute;
    left: calc(50% - 595px);
    width: 1190px;
}

.btnB, .btnE, .btnH, .btnD {
    flex: 1;
    background: #f1f1f1;
    text-align: center;
    padding: 36px;
    border-radius: 5px;
    z-index: 2;
    transition: all 500ms ease;
    cursor: pointer;
}

.btnB i, .btnE i, .btnH i, .btnD i {
    display: block;
    color: #999fa4;
    font-size: 48px;
}

.btnB b, .btnE b, .btnH b, .btnD b {
    color: #2a333c;
    font-size: 36px;
}

.btnB {
    background: #fff;
    box-shadow: 0 7px 14px rgba(0,0,0,0.1), 0 5px 5px rgba(0,0,0,0.02);
}

.btnB i {
    color: #0ba6fb;
}

.btnB b {
    color: #000;
}

.btnB:hover, .btnE:hover, .btnH:hover, .btnD:hover {
    background: #fff;
    box-shadow: 0 7px 14px rgba(0,0,0,0.1), 0 5px 5px rgba(0,0,0,0.02);
}

.btnB {
    margin-right: 10px;
}

.btnE {
    margin: 0 10px;
}

.btnH {
    margin: 0 10px;
}

.btnD {
    margin-left: 10px;
}

.notify {
    position: fixed;
    right: -500px;
    bottom: 24px;
    background: #fff;
    box-shadow: 0 7px 14px rgba(0,0,0,0.15), 0 5px 5px rgba(0,0,0,0.08);
    color: #000;
    font-size: 15.3px;
    padding: 17px 0 17px 17px;
    border-top-right-radius: 2.55px;
    border-bottom-right-radius: 2.55px;
    border-left: 4px solid #000;
    width: 285px;
    transition: right 500ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
    z-index: 10000;
}

.beta {
    position: absolute;
    top: 60px;
    right: 60px;
    height: 40px;
    width: 40px;
    text-align: center;
    line-height: 35px;
    font-size: 30px;
    color: #E1DFEB;
    font-weight: 300;
    border-radius: 50%;
    border: 2px solid #E1DFEB;
    padding: 2px;
    transition: all 400ms ease;
    cursor: pointer;
    z-index: 2;
}

.beta:hover {
    color: #0ba6fb;
    border-color: #0ba6fb;
}

.betaBox {
    display: none;
    position: absolute;
    top: 20px;
    right: 110px;
    height: 90px;
    width: 240px;
    border-radius: 3px;
    background: #0ba6fb;
    color: #fff;
    padding: 15px 30px 25px 30px;
    box-shadow: 0 7px 14px rgba(0,0,0,0.1), 0 5px 5px rgba(0,0,0,0.02);
    opacity: 0;
    transition: opacity 300ms ease;
    z-index: 2;
}

.betaBox::before {
    content: '';
    position: absolute;
    display: block;
    top: calc(50% - 15px);
    right: -15px;
    height: 0px;
    width: 0px;
    border-top: 15px solid transparent;
    border-bottom: 15px solid transparent;
    border-left: 15px solid #0ba6fb;
}

.betaLink {
    margin-top: 15px;
    background: #0ba6fb;
    color: #fff;
    border: 2px solid #fff;
    height: 40px;
    width: 178.115px;
    padding-left: 61.845px;
    border-radius: 3px;
    cursor: pointer;
    transition: all 300ms ease;
}

.betaLink:hover {
    background: #fff;
    color: #0ba6fb;
}

.betaLinkTitle {
    font-style: normal;
    vertical-align: top;
    -webkit-font-smoothing: antialiased;
}

.betaLink i {
    line-height: 40px !important;
}

.betaBack {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 1;
}

.footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 40px;
    text-align: center;
    background: #0ba6fb;
    color: #fff;
    z-index: -1;
}

.footer a {
    display: inline-block;
    font-size: 15px;
    font-weight: 400;
    text-align: center;
    text-decoration: none;
    line-height: 40px;
    color: #fff;
    transition: all 200ms ease;
}

.footer a:hover {
    color: #000;
}

.displayTime {
    position: absolute;
    top: 40px;
    left: calc(50% - 100px);
    height: 60px;
    width: 200px;
    font-size: 35px;
    line-height: 60px;
    text-align: center;
}
