* {
    margin: 0;
    padding: 0;
}

:root {
    --blue_mode: #0ba6fb;
    --red_mode: #fb0b0b;
    --ylw_mode: #fbd50b;
    --ppl_mode: #750bfb;
    --block-color: #fff;
    --feild-color: #fff;
}

body {
    background: #fff;
    font-family: 'Lato', sans-serif;
    overflow: hidden;
}

.load {
    position: fixed;
    top: 0;
    right: 0;
    height: 100vh;
    width: 100%;
    text-align: center;
    line-height: 100vh;
    background: #ddd;
    z-index: 99999;
    cursor: progress;
    transition: all 1000ms;
}

.blueBG {
    background: var(--blue_mode);
}

.blueCLR {
    color: var(--blue_mode);
}

.redBG {
    background: var(--red_mode);
}

.redCLR {
    color: var(--red_mode);
}

.ylwBG {
    background: var(--ylw_mode);
}

.ylwCLR {
    color: var(--ylw_mode);
}

.pplBG {
    background: var(--ppl_mode);
}

.pplCLR {
    color: var(--ppl_mode);
}

.rnbwBG {
    background: var(--ylw_mode);
}

.rnbwCLR {
    color: var(--ylw_mode);
}

@keyframes bgBlend {
    0% {
        background: var(--ylw_mode);
    }
    25% {
        background: var(--red_mode);
    }
    50% {
        background: var(--ppl_mode);
    }
    75% {
        background: var(--blue_mode);
    }
    100% {
        background: var(--ylw_mode);
    }
}

@keyframes clrBlend {
    0% {
        color: var(--ylw_mode);
    }
    25% {
        color: var(--red_mode);
    }
    50% {
        color: var(--ppl_mode);
    }
    75% {
        color: var(--blue_mode);
    }
    100% {
        color: var(--ylw_mode);
    }
}

.h1 h1 {
    text-align: center;
    font-weight: 400;
    font-size: 85px;
    margin-top: 170px;
}

.h1 h1::before {
    content: "TAB";
    position: absolute;
    top: 212.5px;
    left: calc(50% - 527px);
    font-size: 40.8px;
    font-weight: 900;
    border-top-right-radius: 17px;
    border-top-left-radius: 17px;
    padding: 6.8px 34px;
    background: #f4f4f4;
    color: #2d2d2d;
}

.h1::after {
    content: "";
    position: absolute;
    left: calc(50% - 595px);
    width: 1190px;
    height: 7px;
    border-radius: 7px;
    background: #f4f4f4;
}

.jz {
    position: absolute;
    top: 273px;
    left: calc(50% - 595px);
    max-width: 1190px;
    width: 0;
    height: 7px;
    border-radius: 7px;
    transition: width 400ms, background 1000ms;
}

.btn {
    display: flex;
    position: absolute;
    left: calc(50% - 605px);
    width: 1210px;
}

.btn > * {
    flex: 1;
    background: #f1f1f1;
    text-align: center;
    padding: 36px;
    border-radius: 5px;
    z-index: 2;
    transition: all 500ms ease;
    cursor: pointer;
    margin: 0 10px;
}

.btn i {
    display: block;
    font-size: 48px;
}

.btn b {
    font-size: 36px;
}

.btn .inactive i {
    color: #999fa4;
}

.btn .inactive b {
    color: #2a333c;
}

.btn .active {
    background: #fff;
    box-shadow: 0 7px 14px rgba(0,0,0,0.1), 0 5px 5px rgba(0,0,0,0.02);
}

.btn .active b {
    color: #000;
}

.btn .inactive:hover {
    background: #fff;
    box-shadow: 0 7px 14px rgba(0,0,0,0.1), 0 5px 5px rgba(0,0,0,0.02);
}

.notify {
    position: fixed;
    right: -500px;
    bottom: 24px;
    background: #fff;
    box-shadow: 0 7px 14px rgba(0,0,0,0.15), 0 5px 5px rgba(0,0,0,0.08);
    color: #000;
    font-size: 15.3px;
    padding: 17px 0 17px 17px;
    border-top-right-radius: 2.55px;
    border-bottom-right-radius: 2.55px;
    border-left: 4px solid #000;
    width: 285px;
    transition: right 500ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
    z-index: 10000;
}

.colorPicker {
    position: absolute;
    top: 60px;
    right: 60px;
    color: #E1DFEB;
    transition: all 300ms ease;
    cursor: pointer;
    z-index: 2;
}

.colorPicker i {
    font-size: 36px;
}

.colorPicker:hover {
    color: #bbb;
}

.colorBox {
    display: none;
    position: absolute;
    top: 30px;
    right: 120px;
    height: 90px;
    max-height: 90px;
    width: 140px;
    max-width: 140px;
    border-radius: 3px;
    background: #f1f1f1;
    opacity: 0;
    transition: opacity 300ms ease;
    z-index: 2;
}

.colorBox::before {
    content: '';
    position: absolute;
    display: block;
    top: calc(50% - 15px);
    right: -15px;
    height: 0px;
    width: 0px;
    border-top: 15px solid transparent;
    border-bottom: 15px solid transparent;
    border-left: 15px solid #f1f1f1;
}

table {
    box-sizing: border-box;
    display: inline-block;
}

#mode {
    float: left;
    background: #e1e1e1;
    max-height: 90px;
}

#light i {
     transition: all 300ms;
}

#dark i {
     opacity: 0;
     transition: all 300ms;
}

#color i {
    opacity: 0;
    transition: all 300ms;
}

#color .check i {
    opacity: 1;
}

#color {
    float: right;
}

.colorBox tr td div {
    max-height: 24px;
}

.colorBox td {
    box-sizing: border-box;
    width: 30px;
    max-width: 30px;
    height: 30px;
    max-height: 30px;
    border-radius: 3px;
    padding: 3px;
    cursor: pointer;
    overflow: hidden;
}

.colorBox #light {
    background: #fff;
    color: #000;
}

.colorBox #dark {
    background: #000;
    color: #fff;
}

.colorBox #blue {
    background: var(--blue_mode);
    color: #000;
}

.colorBox #red {
    background: var(--red_mode);
    color: #fff;
}

.colorBox #ylw {
    background: var(--ylw_mode);
}

.colorBox #ppl {
    background: var(--ppl_mode);
    color: #fff;
}

.colorBox #rnbw {
    background: linear-gradient(to right, var(--ylw_mode), var(--red_mode), var(--blue_mode));
    color: #fff;
}

.colorBack {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 1;
}

.footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 40px;
    text-align: center;
    color: #fff;
    z-index: 2;
    transition: all 1000ms ease;
}

.footer a {
    display: inline-block;
    font-size: 15px;
    font-weight: 400;
    text-align: center;
    text-decoration: none;
    line-height: 40px;
    color: #fff;
    cursor: pointer !important;
    transition: all 200ms ease;
}

.footer a:hover {
    color: #000;
}

#offset, #betaLink {
    position: absolute;
    display: inline-block;
}

#offset {
    left: 30px;
}

#betaLink {
    right: 30px;
}

.displayTime {
    position: absolute;
    top: 40px;
    left: calc(50% - 100px);
    height: 60px;
    width: 200px;
    font-size: 35px;
    line-height: 60px;
    text-align: center;
    font-weight: 100;
    transition: color 1000ms;
}
